{% extends 'index.html' %}

{% block title %}Acerca de{% endblock title %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Acerca de BlogInfo2025</h1>
    <p class="lead">Este blog es un proyecto final del Informatorio 2025, creado por el Grupo 1 - Comisión 2.</p>
    <hr class="my-4">
    <p class="lead">Repositorio del proyecto: <a href="https://github.com/Enzostik/Blog_Informatorio2025" class="text-decoration-none h4 me-2"><i class="fab fa-github"></i></a></p>
    <hr class="my-4">
    <p class="lead">Integrantes del grupo:</p>
    <ul>
        <li>Almenar Enzo
            <a href="https://github.com/Enzostik" class="text-decoration-none h4 me-2"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/enzo-naim-almenar-9205121a5/" class="text-decoration-none h4 me-2"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>Ayala Lautaro
            <a href="https://github.com/LautaroA19" class="text-decoration-none h4 me-2"><i class="fab fa-github"></i></a>
        </li>
    </ul>
</div>
{% endblock content %}
