{% extends "index.html" %}

{% block title %}Perfil de {{ user_obj.username }}{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Perfil de {{ user_obj.username }}</h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Nombre de usuario:</strong> {{ user_obj.username }}</li>
                        <li class="list-group-item"><strong>Nombre:</strong> {{ user_obj.first_name }}</li>
                        <li class="list-group-item"><strong>Apellido:</strong> {{ user_obj.last_name }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ user_obj.email }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center">
            <a href="{% url 'home' %}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Volver al inicio</a>
        </div>
        <div class="container p-4">
            <hr>
            {% if publications %}
            <h3 class="text-muted fst-italic text-center">Publicaciones de este usuario</h3>
            {% include "noticias/_news_list.html" %}
            {% else %}
            <h3 class="text-muted fst-italic text-center">Este usuario no tiene noticias publicadas</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}