{% extends "index.html" %}

{% block title %}Noticias{% endblock title %}

{% block content %}
    <h1>TODAS LAS NOTICIAS</h1>
    <h2>{{ publication.title }}</h2>
    <h3>{{ publication.subtitle }}</h3>
    <p>Escrito por: {{ publication.author.username }}</p>
    <p> Fecha: {{ publication.creation_date }} </p>
    <p> Actualizado: {{ publication.last_update }} </p>
    <p> Categoría: {{ publication.category }} </p>
    {{ publication.body | safe }}
    <ul>
        <a href={% url "home" %}>Volver a la página principal.</a>
    </ul>
{% endblock content %}